@font-face {
  font-family: "vazirmatn";
  src: url(../assets/fonts/vazir/Vazirmatn.ttf);
}
body {
  padding: 0;
  margin: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  font-family: "vazirmatn";
  overflow-x: hidden;
  direction: rtl;
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-break: keep-all;
  background-attachment: fixed;
  background-image: url(../assets/photos/vecteezy_yellow-and-white-grunge-paint-background-vector_27486652.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


form{
  margin: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
}
/*  */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #a7e7f5;
  font-family: "vazirmatn";
  border-radius: 10px;
}
input[type=text]:focus, input[type=password]:focus {
  background: #79bdcc;
  outline: none;
}
button {
  background-color: #0c98b7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  font-family: "vazirmatn";
}

button:hover {
  background-color: #79bdcc;

}

.signupbtn {
  float:right;
  width: 50%;
}
.new_user1{
  margin: auto;
  font-size: 15px;

}
.new_user1 a{
  color: #1e90ff;
}
.new_user1 a:visited{
  color: #1e90ff;
}
.container {
  padding: 16px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

    
  @media screen and (max-width: 1370px) {
      iframe {
        width: 300px;
        height: 300px;
      }
    }
    @media screen and (max-width: 1312px) {
      .footer-pre img {
        width: 100px;
        height: 100px;
      }
      .footer-pre h4 {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 1219px) {
      .footer-pre {
        flex-direction: column;
      }
      .footer-pre h4 {
        font-size: 12px;
      }
      .footer-pre img {
        width: 80px;
        height: 80px;
      }
    }
    @media screen and (max-width:1164px) {
      .messengers p
      {
        display: none;
      }
    }
    @media screen and (max-width: 1140px) {
      .scroll_up img {
        transform: translate(-30px, -80px);
      }
      .scroll_up img:hover {
        transform: translate(-30px, -85px);
        transition: all 0.5s;
      }
  
    }
    @media screen and (max-width: 1092px) {
   
      iframe{
        width: 300px;
        height: 150px;
      }
      form{
        margin: auto;
        width: 40%;
      }

    }
    @media screen and (max-width:953px) {
      form{
        margin: auto;
        width: 45%;
      }
    }
    @media screen and (max-width:934px) {
        .menu h5{
            font-size: 15px;
        }
        .menu img{
            width: 80px;
            height: 70px;
            border-radius: 70%;
        
        }
        .item{
            width:35%;
        }
    }
    @media screen and (max-width: 869px) {
      .main_title p {
        font-size: 13px;
        width: 80%;
      }
      .footer-content h4 {
        width: 50%;
      }
    
    }
    @media screen and (max-width: 840px) {
 
      form{
        margin: auto;
        width: 50%;
      }
      form p{
        font-size: 15px;
      }
      label{
        font-size: 15px;

      }
    
    }
    @media screen and (max-width:700px) {
      form{
        margin: auto;
        width: 80%;
      }
      form p{
        font-size: 15px;
      }
      label{
        font-size: 15px;

      }
    }
    @media screen and (max-width:693px) {
      iframe{
        width: 400px;
        height: 250px;
      }
    }

  @media screen and (max-width: 500px) {

  }