.navbar-content {
  max-width: 900px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:center;
  padding: 1rem;
}
.navbar-content li {
  margin-left: 25px;
  padding-left: 15px;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  position: relative;
}

nav {
  width: 100%;
  background: #110d0d93;
  backdrop-filter: blur(10px) saturate(1.2) brightness(1.2);
  position: fixed;
  padding-top: 25px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 1;
}
nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px #000000;
  font-size: 20px;
  padding: 5px 10px;
}
nav ul li {
  width: auto;
}
nav ul li a:hover {
  background-color: #ff9000;
  color: #d4d0d0;
  border-radius: 18px;
  transition: all 0.9s;
  text-shadow: 2px 1px #000000;
}
header .header-content {
  position: absolute;
  right: 0;
  top: 20%;
  text-align: center;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header-content h2 {
  font-size: 50px;
  position: sticky;
  width: 100%;
}
header .header-content p {
  font-size: 20px;
  width: 100%;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 1.5rem;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #e9e9e9;
  font-weight: bold;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hamburger-menu .bar {
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #110d0d93;
  backdrop-filter: blur(10px) saturate(1.2) brightness(1.2);
}

.modal-content {
  background-color: #ff9000;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}
.modal-content a {
  text-decoration: none;
  color: #e9e9e9;
  width: 100%;
}
.modal-content a:hover {
  background: #110d0d93;
  color: #449ce3;
}
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #af6a11;
  text-decoration: none;
  cursor: pointer;
}
.food_bar {
  margin-right: 350px;
}
.container_food {
  border-radius: 100px;
  width: 100px;
  transition: 0.5 all ease;
}
.container_food:hover {
  transform: scale(1.2);
}

.scroll_up {
  position: fixed;
  width: 50px;
  right: 25px;
  bottom: 70px;
  transition: all 0.5s ease-in-out;
}

.scroll_up:hover {
  transform: translateY(-10px);
}
.footer {
  background-color: rgb(39, 84, 130);
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.footer-content img {
  margin-top: 50px;
  margin-right: 5px;
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.footer-content h4 {
  width: 750px;
  justify-content: center;
  margin-right: 50px;
}
.footer-pre {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.call-us {
  background-color: #393939;
  padding-right: 20px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 900px;
}
.call-us .call-title {
  background-color: #ff9000;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  width: 210px;
  height: 70px;
  margin-bottom: 10px;
}
.call-us-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
iframe {
  border-radius: 10px;
  width: 500px;
  height: 500px;
}
.messengers a img {
  width: 60px;
  filter: grayscale(100%);
}
.messengers a img:hover {
  filter: grayscale(0%);
  transition: 0.5s all ease;
}
.copyright-text {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1370px) {
  iframe {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 1312px) {
  .footer-pre img {
    width: 100px;
    height: 100px;
  }
  .footer-pre h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 1219px) {
  .footer-pre {
    flex-direction: column;
  }
  .footer-pre h4 {
    font-size: 12px;
  }
  .footer-pre img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 1164px) {
  .messengers p {
    display: none;
  }
}
@media screen and (max-width: 1140px) {
  .scroll_up img {
    transform: translate(-30px, -80px);
  }
  .scroll_up img:hover {
    transform: translate(-30px, -85px);
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1092px) {
  .messengers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .call-us-content h3 {
    font-size: 10px;
  }
  iframe {
    width: 300px;
    height: 150px;
  }
  .call-us .call-title {
    width: 180px;
    height: 35px;
  }
  .call-title h2 {
    font-size: 20px;
  }
  .call-us-content {
    width: 75%;
  }
}

@media screen and (max-width: 869px) {
  .footer-content h4 {
    width: 50%;
  }
}

@media screen and (max-width: 804px) {
  .navbar-content {
    justify-content: space-between;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 10;
    background: #110d0d93;
    backdrop-filter: blur(10px) saturate(1.2) brightness(1.2);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 0;
    text-align: center;
  }

  .nav-links li a {
    padding: 15px;
    display: block;
  }

  .hamburger-menu {
    display: flex;
  }
}

@media screen and (max-width: 711px) {
  .messengers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .call-us-content {
    flex-direction: column;
  }

  iframe {
    width: 400px;
    height: 250px;
  }
}
@media screen and (max-width:500px) {
  iframe {
    width: 300px;
    height: 200px;
  }
}
